<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Hello</title>
  <link rel="stylesheet" href="css/pico.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <section class="section">
    <header>
      <div class="logo">Steve Oliveira</div>
      <div class="nav">
        <nav>
          <li><a href="/">Home</a></li>
          <li><a href="https://github.com/steve-human/">Github</a></li>
          <li><a href="https://mastodon.social/@stevehuman">Mastadon</a></li>
        </nav>
      </div>
    </header>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>